# Angular build output
/dist
/tmp
/out-tsc

# Node modules
/node_modules

# IDE files
/.idea
/.vscode
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
Thumbs.db

# Environment files
/src/environments/environment*.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled output
*.js
*.js.map

# Misc
.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
